{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard",
    "plugin:prettier/recommended",
    "prettier/standard",
    "prettier/react",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "plugins": ["svelte3", "@typescript-eslint"],
  "overrides": [{ "files": ["*.svelte"], "processor": "svelte3/svelte3" }],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "18"
    },
    "svelte3/typescript": "() => require('typescript')"
  },
  "rules": {
    "space-before-function-parens": 0,
    "react/prop-types": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-fragments": 0,
    "react/no-unused-prop-types": 0,
    "no-unused-vars": 0,
    "import/export": 0
  }
}
