.focus-layout-wrapper,
.grid-layout-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100% - var(--control-bar-height));
}

.grid-layout-wrapper {
  flex-direction: column;
  align-items: center;
}

.focus-layout-wrapper {
  align-items: stretch;
}

.video-conference {
  position: relative;
  display: flex;
  align-items: stretch;
  height: 100%;
}

.video-conference-inner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
