@import '../variables';

.lk-media-muted-indicator-audio,
.lk-media-muted-indicator-video {
  width: $indicator_size;
  height: $indicator_size;
}

.lk-media-muted-indicator-audio {
  background-color: greenyellow;
}

.lk-media-muted-indicator-video {
  background-color: greenyellow;
}

.video-muted .lk-media-muted-indicator-video {
  opacity: 0.2;
  background-color: red;
}

.audio-muted .lk-media-muted-indicator-audio {
  opacity: 0.2;
  background-color: red;
}
