@use '../variables' as v;

.lk-button {
  // --lk-btn-padding-x: #{v.$btn-padding-x};
  // --lk-btn-padding-y: #{v.$btn-padding-y};
  //   --lk-btn-background-color:

  // --lk-cool-test: #{var(--lk-btn-padding-x)};

  // padding: var(--lk-btn-padding-y) var(--lk-btn-padding-x);
  border: none;
  background-color: v.$t-primary;
}

/** active state for toggle buttons **/
.lk-button[aria-pressed='true'] {
  box-shadow: inset 5px 5px 10px v.$t-primary, inset -5px -5px 10px v.$t-primary;
}
