@use '../variables' as v;

.button {
  --btn-padding-y: #{v.$s-1};
  --btn-padding-x: #{v.$s-2};

  padding: var(--btn-padding-y) var(--btn-padding-x);
  border: v.$s-px v.$t-primary solid;
  background-color: v.$t-primary;
  cursor: pointer;
  transition: opacity 0.15s ease-in-out;
}

/** active state for toggle buttons **/
.button[aria-pressed='true'] {
}

.button:disabled {
  opacity: 50%;
}
