.chat-toggle-button {
  --control-fg: var(--accent-fg);
  --control-bg: var(--accent-bg);
  --control-hover-bg: var(--accent2);
  --control-active-bg: var(--accent3);
  --control-active-hover-bg: var(--accent4);
}
