@use '../variables' as v;

.connection-quality {
  width: 20px;
  height: 20px;
  border-radius: 99999px;

  // Participant connection quality indicator.
  &.unknown {
    background-color: v.$gray-500;
  }
  &.poor {
    background-color: v.$danger;
  }
  &.good {
    background-color: v.$warning;
  }
  &.excellent {
    background-color: v.$success;
  }
}
