@use '../variables' as v;

.lk-connection-quality {
  width: 20px;
  height: 20px;
  border-radius: 99999px;

  // Participant connection quality indicator.
  &.lk-unknown {
    background-color: v.$gray-500;
  }
  &.lk-poor {
    background-color: v.$danger;
  }
  &.lk-good {
    background-color: v.$warning;
  }
  &.lk-excellent {
    background-color: v.$success;
  }
}
