@use '../variables' as v;
@use 'button' as button;

.device-selector {
  background-color: v.$t-primary-bg;
  // & > div {
  //   padding: 0.1rem 0.2rem;
  //   font-size: smaller;
  // }
  // ul {
  li {
    padding: 0.1rem 0.2rem;
    & > button {
      @include button.button-reset;
      transition: color 0.2s ease-in-out;
    }
    &[data-active='true'] {
      & > button {
        color: v.$t-primary-color;
      }
    }
    &[data-active='false'] {
      & > button {
        color: v.$t-secondary-color;

        &:hover {
          color: v.$t-tertiary-color;
        }
      }
    }
  }
  // }
}
