@use '../variables' as v;
@use 'button' as button;

.device-selector {
  &:not(:last-child) {
    padding-bottom: .5rem;
    margin-bottom: .75rem;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
  }

  li > button {
    display: flex;
    width: 100%;
    align-items: center;
    padding: .375rem .5rem;
    border: 0;
    background: none;
    border-radius: var(--border-radius);
  }

  [data-active='true'] {
    > button {
      color: var(--accent-fg);
      background-color: var(--accent-bg);
      // color: v.$t-primary-color;
    }
  }

  [data-active='false'] {
    > button {
      color: var(--fg);

      &:hover {
        cursor: pointer;
        color: var(--fg-tertiary);
      }
    }
  }
}

.device-menu {
  position: absolute;
  bottom: 100%;
  min-width: 10rem;
  padding: .5rem;
  margin-bottom: .25rem;
  font-size: .875rem;
  white-space: nowrap;
  background-color: var(--bg-secondary);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.device-menu-heading {
  margin-bottom: .25rem;
  padding-inline: .5rem;
  font-weight: bold;
  opacity: .8;
}
