.media-muted-indicator-camera,
.media-muted-indicator-microphone {
  position: relative;
  width: var(--indicator-size, 1rem);
  height: var(--indicator-size, 1rem);
  margin-inline-end: .25rem;
  background-repeat: no-repeat;
  background-image: var(--bg);
  transition: opacity .25s ease-in-out;
}

.media-muted-indicator-camera {
  --bg: var(--icon-camera);

  &[data-muted="true"] {
    opacity: .5;
    --bg: var(--icon-camera-disabled);
  }
}
.media-muted-indicator-microphone {
  --bg: var(--icon-mic);

  &[data-muted="true"] {
    opacity: .5;
    --bg: var(--icon-mic-disabled);
  }
}
