@use '../variables' as v;

.participant-view {
  position: relative;
  border: 2px transparent solid;
  transition: border-color 0.2s;
  &[data-is-speaking='true'] {
    border-color: v.$primary;
  }
}
