ul.lk-device-list {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    &>li {
        list-style: none;
        width: max-content;
        cursor: pointer;
        &:hover {
            background-color: lightgray;
        }
        &.lk-active::after {
            content: '✅'
        }
    }
}