@import '../variables';

.lk-participant-view {
  position: relative;
  border: 2px transparent solid;
  transition: border-color 0.2s;
  &[data-is-speaking='true'] {
    // box-shadow: 0 0 8px green inset;
    border-color: aquamarine;
  }
}
