.grid-layout-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - var(--control-bar-height));
}

.grid-layout {
  --lk-col-count: 1;
  display: grid;
  grid-template-columns: repeat(var(--lk-col-count), minmax(0, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
  grid-gap: var(--grid-gap);
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: var(--grid-gap);
}

.grid-pagination {
  display: flex;
  align-items: stretch;
  background-color: var(--lk-control-bg);
  border-radius: var(--lk-border-radius);

  > .button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    > svg {
      transform: rotate(180deg);
    }
  }
  > .button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.grid-pagination-count {
  padding: .5rem .875rem;
  border-inline: 1px solid var(--lk-bg);
}
