.chat {
  max-width: 40rem;
}

.chat-messages {
  width: 100%;
  height: calc(100% - 1rem);
}

.chat-entry {
  display: flex;
  gap: 0.75rem;

  > strong {
    white-space: nowrap;
  }
}

.chat-form {
  display: flex;
  gap: 0.5rem;
}

.chat-form-input {
  width: 100%;
}
