.chat {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 280px;
  background-color: var(--bg2);
  border-left: 1px solid var(--border-color);
}

.chat-messages {
  width: 100%;
  flex-grow: 1;
  max-height: 100%;
  overflow: auto;
}

.chat-entry {
  display: flex;
  gap: 0.75rem;
  padding: 0.25rem 0.75rem;
  word-break: break-word;

  > strong {
    white-space: nowrap;
  }

  &[data-message-origin='local'] {
    background-color: rgba(3, 56, 109, 0.5);
  }
}

.chat-form {
  display: flex;
  gap: 0.75rem;
  padding: 0.75rem;
  border-top: 1px solid var(--border-color);
}

.chat-form-input {
  width: 100%;
}

@media (max-width: 600px) {
  .chat {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 100%;
    bottom: var(--control-bar-height);
  }
}
