.video-conference {
  position: relative;
  display: flex;
  align-items: stretch;
  height: 100%;
}

.video-conference-inner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
