.video-conference {
  position: relative;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 2fr min-content;
  grid-template-rows: max-content min-content;
  & > section {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .lk-chat {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }

  .control-bar {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
  }
}
