.focus-layout {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 0.5rem;
  padding: 1rem;

  & > aside {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    max-height: min(800px, 90vh);
    overflow-y: auto;
  }
}

.focused-participant {
  position: relative;

  .pip-track {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20%;
    height: auto;
  }
}
