.focus-layout {
  display: grid;
  grid-template-columns: 5fr 1fr;
  width: 90vw;

  & > aside {
    width: 100%;
    max-height: min(800px, 90vh);
    overflow-y: auto;

    & > div {
      max-height: 250px;
    }
  }
}

.focused-participant {
  position: relative;

  .pip-track {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20%;
    height: auto;
  }
}
