.grid-layout {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;

  > * {
    min-width: 240px;
    width: 100%;

    @media (min-width: 768px) {
      min-width: 25%;
      max-width: clamp(25%, 25%, 100%);
    }
  }
}
