%container-style {
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: 1.5;
  color: var(--fg);
  background-color: var(--bg);
}

[data-theme] {
  .button {
    font-family: var(--font-family);
    user-select: none;
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .form-control {
    font-family: var(--font-family);
    padding: 0.375rem 0.75rem;
    background-color: var(--control-bg);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
  }
}
