:root {
  --bg: #111;
  --bg-secondary: #222;
  --bg-tertiary: #333;

  --fg: #fff;
  --fg-secondary: #f5f5f5;
  --fg-tertiary: #fafafa;

  --accent-fg: #fff;
  --accent-bg: #1f8cf9;

  --danger-fg: #fff;
  --danger: #f91f31;
  --danger-text: #6d0311;
  --danger-bg: #fecdd4;

  --success-fg: #fff;
  --success: #1ff968;
  --success-text: #036d26;
  --success-bg: #cdfedd;

  --control-fg: var(--fg);
  --control-bg: var(--bg-secondary);

  --connection-excellent: #06db4d;
  --connection-good: #f9b11f;
  --connection-poor: #f91f31;

  --font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-size: 14px;
  --border-radius: 0.25rem;

  --control-bar-height: 70px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: #fff;
    --fg-secondary: #eee;
    --fg-tertiary: #f5f5f5;

    --bg: #111;
    --bg-secondary: #222;
    --bg-tertiary: #555;

    --danger: #f91f31;
    --danger-text: #f91f31;
    --danger-bg: #6d0311;

    --success: #1ff968;
    --success-text: #1ff968;
    --success-bg: #036d26;
  }
}
