@use 'functions' as fn;

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// scss-docs-start theme-color-default-values
$_primary: #6610f2 !default;
$_secondary: #d63384 !default;
$_success: #198754 !default;
$_info: #0dcaf0 !default;
$_warning: #ffc107 !default;
$_danger: #dc3545 !default;
$_idle: gray;
$_light: #f8f9fa !default;
$_dark: #212529 !default;
// scss-docs-end theme-color-variables

// scss-docs-start theme-option-default-values
$_border-radius: 0 !default;
// scss-docs-end theme-color-variables

//
// Theme variables
//
// Custom Property Definitions
// Colors
$cp-primary: fn.to-css-var('primary');
$cp-secondary: fn.to-css-var('secondary');
$cp-success: fn.to-css-var('success');
$cp-info: fn.to-css-var('info');
$cp-warning: fn.to-css-var('warning');
$cp-danger: fn.to-css-var('danger');
$cp-idle: fn.to-css-var('idle');
$cp-light: fn.to-css-var('light');
$cp-dark: fn.to-css-var('dark');
$cp-text: fn.to-css-var('text');
$cp-text-light: fn.to-css-var('text-light');

$cp-border-radius: fn.to-css-var('border-radius');

// scss-docs-start theme-colors-map
$theme-options: (
  $cp-primary: $_primary,
  $cp-secondary: $_secondary,
  $cp-success: $_success,
  $cp-info: $_info,
  $cp-warning: $_warning,
  $cp-danger: $_danger,
  $cp-light: $_light,
  $cp-dark: $_dark,
  $cp-border-radius: $_border-radius,
) !default;

// // Custom Property Values
// // Colors
$t-primary: fn.css-var-with-sass-fallback($cp-primary, $_primary);
$t-secondary: fn.css-var-with-sass-fallback($cp-secondary, $_secondary);
$t-success: fn.css-var-with-sass-fallback($cp-success, $_success);
$t-info: fn.css-var-with-sass-fallback($cp-info, $_info);
$t-warning: fn.css-var-with-sass-fallback($cp-warning, $_warning);
$t-danger: fn.css-var-with-sass-fallback($cp-danger, $_danger);
$t-idle: fn.css-var-with-sass-fallback($cp-idle, $_idle);
$t-light: fn.css-var-with-sass-fallback($cp-light, $_light);
$t-dark: fn.css-var-with-sass-fallback($cp-dark, $_dark);
$t-text: fn.css-var-with-sass-fallback($cp-text, $_dark);
$t-text-light: fn.css-var-with-sass-fallback($cp-text-light, $_light);

$t-border-radius: fn.css-var-with-sass-fallback($cp-border-radius, $_border-radius);

$s-0: 0px;
$s-px: 1px;
$s-0_5: 0.125rem; // 2px
$s-1: 0.25rem; // 4px
$s-1_5: 0.375rem; // 6px
$s-2: 0.5rem; // 8px
$s-2_5: 0.625rem; // 10px
$s-3: 0.75rem; // 12px
$s-3_5: 0.875rem; // 14px
$s-4: 1rem; // 16px
$s-5: 1.25rem; // 20px
$s-6: 1.5rem; // 24px
$s-7: 1.75rem; // 28px
$s-8: 2rem; // 32px
$s-9: 2.25rem; // 36px
$s-10: 2.5rem; // 40px
$s-11: 2.75rem; // 44px
$s-12: 3rem; // 48px
$s-14: 3.5rem; // 56px
$s-16: 4rem; // 64px
$s-20: 5rem; // 80px
$s-24: 6rem; // 96px
$s-28: 7rem; // 112px
$s-32: 8rem; // 128px
$s-36: 9rem; // 144px
$s-40: 10rem; // 160px
$s-44: 11rem; // 176px
$s-48: 12rem; // 192px
$s-52: 13rem; // 208px
$s-56: 14rem; // 224px
$s-60: 15rem; // 240px
$s-64: 16rem; // 256px
$s-72: 18rem; // 288px
$s-80: 20rem; // 320px
$s-96: 24rem; // 384px
