@use 'functions' as fn;

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// scss-docs-start theme-color-default-values

/// main theme color, used for focus styles and component active states
$_primary-color: #ec12e5 !default;
$_primary-bg: #83038c !default;

/// for disabled component states, dividers and lighter text
$_secondary-color: #9457aa !default;
$_secondary-bg: #11115b !default;

/// for component hover colors, accents, wells and text
$_tertiary-color: #bab8b8 !default;
$_tertiary-bg: #404040 !default;

/// For higher contrast text
$_emphasis: #f5f5f5 !default;

/// For component borders, dividers
$_border-color: #dcdcdc;
$_border-radius: 0 !default;

$_danger-color: #dc4b4b;
$_warning-color: #db9006;
$_success-color: #06ac06;
// scss-docs-end theme-color-default-values

// Theme variables
// scss-docs-start theme-variable-custom-properties
$cp-primary-color: fn.to-cp('primary-color');
$cp-primary-bg: fn.to-cp('primary-bg');

$cp-secondary-color: fn.to-cp('secondary-color');
$cp-secondary-bg: fn.to-cp('secondary-bg');

$cp-tertiary-color: fn.to-cp('tertiary-color');
$cp-tertiary-bg: fn.to-cp('tertiary-bg');

$cp-emphasis: fn.to-cp('emphasis');

$cp-border-color: fn.to-cp('border-color');
$cp-border-radius: fn.to-cp('border-radius');

$cp-danger-color: fn.to-cp('danger-color');
$cp-warning-color: fn.to-cp('warning-color');
$cp-success-color: fn.to-cp('success-color');

// scss-docs-end theme-variable-custom-properties

// scss-docs-start theme-colors-map
$theme-options: (
  $cp-primary-color: $_primary-color,
  $cp-primary-bg: $_primary-bg,

  $cp-secondary-color: $_secondary-color,
  $cp-secondary-bg: $_secondary-bg,

  $cp-tertiary-color: $_tertiary-color,
  $cp-tertiary-bg: $_tertiary-bg,

  $cp-emphasis: $_emphasis,

  $cp-border-color: $_border-color,
  $cp-border-radius: $_border-radius,

  $cp-danger-color: $_danger-color,
  $cp-warning-color: $_warning-color,
  $cp-success-color: $_success_color,
) !default;

// // Custom Property Values
// // Colors
$t-primary-color: fn.cp-value-with-fallback($cp-primary-color, $_primary-color);
$t-primary-bg: fn.cp-value-with-fallback($cp-primary-bg, $_primary-bg);

$t-secondary-color: fn.cp-value-with-fallback($cp-secondary-color, $_secondary-color);
$t-secondary-bg: fn.cp-value-with-fallback($cp-secondary-bg, $_secondary-bg);

$t-tertiary-color: fn.cp-value-with-fallback($cp-tertiary-color, $_tertiary-color);
$t-tertiary-bg: fn.cp-value-with-fallback($cp-tertiary-bg, $_tertiary-bg);

$t-emphasis: fn.cp-value-with-fallback($cp-emphasis, $_emphasis);

$t-border-color: fn.cp-value-with-fallback($cp-border-color, $_border-color);
$t-border-radius: fn.cp-value-with-fallback($cp-border-radius, $_border-radius);

$t-danger-color: fn.cp-value-with-fallback($cp-danger-color, $_danger-color);
$t-warning-color: fn.cp-value-with-fallback($cp-warning-color, $_warning-color);
$t-success-color: fn.cp-value-with-fallback($cp-success-color, $_success-color);

$s-small: 0.75rem;
$s-medium: 1.5rem;
$s-large: 3rem;
