@use 'button';

.chat-toggle {
  @extend .button;
  position: relative;
}

.chat-toggle[data-unread='true']:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background: var(--lk-accent-bg);
  padding: 0.375rem;
  border-radius: 50%;
}
