@use 'button';

.participants-toggle {
  @extend .button;
  position: relative;
}

.participants-toggle[data-lk-participant-count]::after {
  content: attr(data-lk-participant-count);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.25rem;
  margin-left: 0.25rem;
  margin-top: 0.25rem;
  border-radius: 50%;
  font-size: 0.5rem;
  line-height: 0.75;
  background: var(--accent-bg);
}
