@use 'sass:color';

$fg: #111;
$bg: #fff;
$danger: #f91f31;
$success: #1ff968;
$warning: #f9b11f;
$accent: #a0a0a0;

[data-lk-theme='gpt'] {
  color-scheme: light;

  --lk-bg: #{$bg};
  --lk-bg2: #{color.adjust($bg, $lightness: 5%)};
  --lk-bg3: #{color.adjust($bg, $lightness: 10%)};
  --lk-bg4: #{color.adjust($bg, $lightness: 15%)};
  --lk-bg5: #{color.adjust($bg, $lightness: 20%)};

  --lk-fg: #111;
  --lk-fg2: #{color.adjust($fg, $lightness: -4%)};
  --lk-fg3: #{color.adjust($fg, $lightness: -8%)};
  --lk-fg4: #{color.adjust($fg, $lightness: -12%)};
  --lk-fg5: #{color.adjust($fg, $lightness: -16%)};

  --lk-border-color: rgba(255, 255, 255, 0.1);

  --lk-accent-fg: #111;
  --lk-accent-bg: #1f8cf9;
  --lk-accent2: #{color.adjust($accent, $lightness: 4%)};
  --lk-accent3: #{color.adjust($accent, $lightness: 8%)};
  --lk-accent4: #{color.adjust($accent, $lightness: 12%)};

  --lk-danger-fg: #111;
  --lk-danger: #f91f31;
  --lk-danger2: #{color.adjust($danger, $lightness: 4%)};
  --lk-danger3: #{color.adjust($danger, $lightness: 8%)};
  --lk-danger4: #{color.adjust($danger, $lightness: 12%)};

  --lk-success-fg: #111;
  --lk-success: #1ff968;
  --lk-success2: #{color.adjust($success, $lightness: 4%)};
  --lk-success3: #{color.adjust($success, $lightness: 8%)};
  --lk-success4: #{color.adjust($success, $lightness: 12%)};

  --lk-control-fg: var(--fg);
  --lk-control-bg: var(--bg2);
  --lk-control-hover-bg: var(--bg3);
  --lk-control-active-bg: var(--bg4);
  --lk-control-active-hover-bg: var(--bg5);

  --lk-connection-excellent: #06db4d;
  --lk-connection-good: #f9b11f;
  --lk-connection-poor: #f91f31;

  --lk-font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  --lk-font-size: 16px;
  --lk-line-height: 1.5;
  --lk-border-radius: 0.5rem;
  --lk-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
  --lk-drop-shadow: rgba(255, 255, 255, 0.2) 0px 0px 24px;

  --lk-grid-gap: 0.5rem;
  --lk-control-bar-height: 69px;
  --lk-chat-header-height: 69px;
}
