.my-participant-name {
  color: red;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.my-participant-name:hover {
  color: darkred;
}

.participant-indicators {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
