.main {
  min-height: 100vh;
  margin: 2%;
  display: grid;
  place-content: center;
  h1 {
    font-size: 2rem;
  }
  ul {
    list-style: disc;
    li {
      margin-top: 1rem;
      margin-left: 1rem;
      a {
        text-decoration: underline;
      }
    }
  }
}
