.main {
  background: url('https://images.unsplash.com/photo-1570475501127-a9413237866c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: black;
}

.prejoin {
  background-color: var(--lk-primary);
  max-height: 80vh;
  width: 40rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  border: 2px solid var(--lk-secondary);
  border-radius: 2rem;
  padding-top: 4rem;
  padding-bottom: 2rem;

  box-shadow: 0 1px 4px var(--lk-primary);
}

.devInfo {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
  height: 200px;
  background-color: rgba(128, 128, 128, 0.185);
}

.roomLayout {
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1rem minmax(0, 1fr) 1rem;
  grid-template-rows: min-content minmax(0, 1fr) min-content;
  grid-template-areas:
    'header header header'
    '. participants .'
    '. controls .';
  row-gap: 1rem;

  height: 100vh;
}

.headerBar {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .participantCount {
    width: min-content;
    background-color: var(--lk-primary);
    padding: 0.8rem 1rem;
    display: flex;
    gap: 0.5rem;
    font-size: 1.1rem;
    border-radius: 1rem;
    margin: 0.5rem;
    justify-items: center;
    svg {
      width: 1.2rem;
      height: 100%;
      overflow: visible;
      path {
        fill: none;
        stroke: black;
      }
    }
  }

  .backToGridViewBtn {
    border-radius: 1rem;
    background-color: var(--lk-primary);
    padding: 0.8rem 1rem;
    margin: 0.5rem;
    border: none;
  }
}

.screenShareContainer {
  place-self: center;
  max-width: 100%;
  max-height: 100%;
  video {
    object-fit: contain;
  }
}

.gridLayout {
  --participant-size: 20rem;
  grid-area: participants;
  place-self: center;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--participant-size), 1fr));
  gap: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.focusLayout {
  grid-area: participants;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 4fr) minmax(0, 1fr);
  grid-template-areas:
    'focus'
    'aside';
  gap: 1rem;

  & > div {
    grid-area: focus;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);
    object-fit: contain;
  }
  & > aside {
    grid-area: aside;
    max-height: 100%;
    place-content: center;
    display: grid;
    section {
      grid-auto-flow: column;
      gap: 1rem;
      overflow-x: auto;
      overflow-y: hidden;
      display: grid;
      gap: 1rem;
      --participant-size: 8rem;
    }
  }
}

.participantView {
  place-self: center;
  display: relative;
  height: var(--participant-size);
  width: var(--participant-size);
  max-height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  overflow: hidden;
  border: 0;
  transition: outline, box-shadow 80ms cubic-bezier(0.36, 0.19, 0.29, 1);
  cursor: pointer;

  &[data-lk-speaking='true'] {
    box-shadow: 0 0 8px 5px var(--lk-primary);
    outline: 3px solid var(--lk-primary);
  }
  video {
    background-color: var(--lk-secondary);
  }
  .nameContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 2%;
    background-color: var(--lk-primary);
    border-radius: 99999px;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    height: 1.5rem;
  }

  &[data-lk-audio-muted='true'] .nameContainer {
    padding: 0.1em 0.4em;
  }

  .name {
    opacity: 0;
    display: none;
    text-decoration: none;
    transition: opacity 80ms cubic-bezier(0.36, 0.19, 0.29, 1);
  }

  .nameMutedIcon {
    display: none;
    max-height: 100%;
  }
  &[data-lk-audio-muted='true'] .nameMutedIcon {
    display: block;
    max-height: 1rem;
  }

  &:hover {
    .nameContainer {
      padding: 0.1em 0.4em;
    }
    .name {
      display: inline-block;
      opacity: 100;
    }
  }

  &[data-lk-video-muted='true'] video {
    opacity: 0;
    transition-delay: 0.3s;
  }
  video {
    opacity: 100;
    transition: opacity 0.1s linear;
    transition-delay: 0s;
  }

  &[data-lk-video-muted='true'] svg {
    opacity: 100;
    scale: 1;
    transition-delay: 0s;
  }
  svg {
    position: absolute;
    background-color: var(--lk-secondary);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    scale: 2;
    transition: opacity 0.1s, scale 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-delay: 0.3s;
  }
}

.mediaControls {
  --size: 3.125rem;
  grid-area: controls;
  display: grid;
  place-content: center;
  & > div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0.5rem;

    .mediaBtn {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23000000' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Ccircle cx='128' cy='128' r='48' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'%3E%3C/circle%3E%3Cpath d='M183.7,65.1q3.8,3.5,7.2,7.2l27.3,3.9a103.2,103.2,0,0,1,10.2,24.6l-16.6,22.1s.3,6.8,0,10.2l16.6,22.1a102.2,102.2,0,0,1-10.2,24.6l-27.3,3.9s-4.7,4.9-7.2,7.2l-3.9,27.3a103.2,103.2,0,0,1-24.6,10.2l-22.1-16.6a57.9,57.9,0,0,1-10.2,0l-22.1,16.6a102.2,102.2,0,0,1-24.6-10.2l-3.9-27.3q-3.7-3.5-7.2-7.2l-27.3-3.9a103.2,103.2,0,0,1-10.2-24.6l16.6-22.1s-.3-6.8,0-10.2L27.6,100.8A102.2,102.2,0,0,1,37.8,76.2l27.3-3.9q3.5-3.7,7.2-7.2l3.9-27.3a103.2,103.2,0,0,1,24.6-10.2l22.1,16.6a57.9,57.9,0,0,1,10.2,0l22.1-16.6a102.2,102.2,0,0,1,24.6,10.2Z' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'%3E%3C/path%3E%3C/svg%3E");
    }

    .screenBtn {
      // display: none;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23000000' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Crect x='32' y='48' width='192' height='144' rx='16' transform='translate(256 240) rotate(180)' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'%3E%3C/rect%3E%3Cline x1='160' y1='224' x2='96' y2='224' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'%3E%3C/line%3E%3C/svg%3E");
      &[aria-pressed='true'] {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23000000' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Crect x='32' y='48' width='192' height='144' rx='16' transform='translate(256 240) rotate(180)' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'%3E%3C/rect%3E%3Cline x1='160' y1='224' x2='96' y2='224' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'%3E%3C/line%3E%3Cpolygon points='160 120 112 88 112 152 160 120' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'%3E%3C/polygon%3E%3C/svg%3E");
      }
    }

    .disconnectBtn {
      height: var(--size);
      background: var(--lk-secondary);
      box-shadow: 0 1px 4px var(--lk-primary);
      border: none;
      color: white;
      border-radius: 8px;
      font-size: 15px;
      min-width: 56px;
      padding: 0 1rem;
      cursor: pointer;
    }
  }
}

.screenShareBanner {
  background-color: var(--lk-primary);
  position: absolute;
  bottom: 0;
  left: 0;
  height: max(3rem, 18%);
  width: 100%;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  span {
    text-decoration: none;
  }

  span:nth-child(2) {
    color: gray;
  }
}
