name: 'size'
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  react-size:
    runs-on: ubuntu-latest
    env:
      CI_JOB_NUMBER: 1
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - name: Use Node.js 20
        uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - uses: andresz1/size-limit-action@v1.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          script: pnpm --filter @livekit/components-react --reporter-hide-prefix exec size-limit --json
          package_manager: pnpm
          build_script: build:react
